
module.exports = {
    models: {
        migrate: 'safe'
    },
    connections: {
        mysql: {
            adapter    : 'sails-mysql',
            host      : 'localhost',
            port      : 3306,
            user      : 'root',
            password  : '',
            database  : 'demo',

            // Optional
            charset   : 'utf8',
            collation : 'utf8_unicode_ci'
        }
    }
};
